.Servicos {
    display: flex;
    background-color: #E8F8FF;
    width: 80%;
    margin: 0 auto;
    border-radius: 32px;
    position: absolute;
    left: 10%;
    top: 70%;
}

.Servicos div {
    flex-basis: 20%;
    margin: 32px auto;
}

.Servicos img {
    width: 64px;
    height: 64px;
}

.Servicos h3 {
    font-size: 32px;
    font-weight: bolder;
}

.Servicos p {
    font-weight: bold;
    color: #5c5c5c;
}

@media (max-width: 768px) {

    .Servicos {
        flex-direction: column;
        top: 100%;
    }

    .Servicos img {
        width: 32px;
        height: 32px;
        margin: 0 45%;
    }

    .Servicos h3 {
        font-size: 16px;
        text-align: center;
    }

    .Servicos p {
        font-size: 12px;
        width: 90%;
        margin: 0 auto;
    }
}