.tecnicos {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding-bottom: 5%;
}

.tecnicos h3 {
    font-size: 32px;
    font-weight: bold;
    color: #0a7bdb;
    border-bottom: 4px solid ;
    display: inline-block;
}

.tecnicos p {
    font-size: 24px;
    line-height: 30px;
    color: #0a7bdb;
    font-weight: bold;
}


@media (max-width: 768px) {

    .tecnicos {
        display: block;
        margin: 0 auto;
    }

    .tecnicos h3 {
        font-size: 16px;
    }

    .tecnicos p {
        font-size: 12px;
    }
}