.Header {
    background-color: #0d75c9;
}

.Header section {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.Header section img {
    height: 32px;
    width: 32px;
    margin-left: 19%;
}

.Header section div {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}

.Header section div p {
    color: #E8F8FF;
    font-size: 16px;
}

.Header header {
    background-color: #FFF;
    height: max-content;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #E8F8FF;
}

.Header img {
    width: 20%;
    height: 100%;
    margin: 10px;
}

.Header header nav a {
    margin: 16px;
    text-decoration: none;
    color: #0d75c9;
    font-weight: bold;
}

@media (max-width: 768px) {

    .Header section {
        flex-direction: column;
        align-items: center;
    }

    .Header section img {
        width: 16px;
        height: 16px;
        margin-left: 0;
    }

    .Header section div {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .Header section div p {
        font-size: 12px;
    }

    .Header header {
        flex-direction: column;
    }

    .Header nav {
        display: flex;
        flex-direction: column;
    }

    .Header header img {
        display: none;
    }
}