.cabecalho {
    background-color: #0d75c9;
    padding: 64px 0;
}

.cabecalho header {
    background-color: #FFF;
    height: 100px;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #E8F8FF;
}

.cabecalho img {
    width: 20%;
    height: 80%;
    margin: 10px;
}

.cabecalho header nav a {
    margin: 16px;
    text-decoration: none;
    color: #0d75c9;
}