.Header {
    background-color: #0d75c9;
}

.Header section {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.Header section img {
    height: 32px;
    width: 32px;
    margin-left: 19%;
}

.Header section div {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}

.Header section div p {
    color: #E8F8FF;
    font-size: 16px;
}

.Header header {
    background-color: #FFF;
    height: max-content;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #E8F8FF;
}

.Header img {
    width: 20%;
    height: 100%;
    margin: 10px;
}

.Header header nav button {
    display: none;
}

.Header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.Header header nav a {
    margin: 16px;
    text-decoration: none;
    color: #0d75c9;
    font-weight: bold;
}

@media (max-width: 768px) {

    .Header section {
        flex-direction: column;
        align-items: center;
    }

    .Header section img {
        width: 16px;
        height: 16px;
        margin-left: 0;
    }

    .Header section div {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .Header section div p {
        font-size: 12px;
    }

    .Header header {
        flex-direction: column;
        background-color: #0d75c9;
        margin-left: 60%;
    }

    .Header nav {
        display: flex;
        flex-direction: column;
    }

    .Header nav ul {
        font-size: 12px;
    }

    .Header header img {
        display: none;
    }

    .Header header nav button {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        width: 20px;
        border-top: 2px solid #E8F8FF;
        display: block;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: #E8F8FF;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::after {
        transform: rotate(135deg);
        top: -7px;
    }

    #nav.active #hamburguer::before {
        transform: rotate(-135deg);
    }

    #menu {
        display: block;
        position: absolute;
        width: 40%;
        top: 138px;
        left: 60%;
        border-radius: 10px;
        background-color: #E8F8FF;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
        line-height: 200%;
    }

    #nav.active #menu {
        flex-direction: column;
        height: 70px;
        visibility: visible;
        overflow-y: auto;
    }
}